<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- baseHref -->
    <% if (htmlWebpackPlugin.options.baseHref) { %>
    <base href="<%= htmlWebpackPlugin.options.baseHref %>">
    <% } %>
    <!-- inline styles -->
    <style>
      body {
        background-image: url('<%= htmlWebpackPlugin.options.background %>');
      }
    </style>
  </head>
  <body>
    <!-- SCM Music Player http://scmplayer.net -->
    <script type="text/javascript" src="http://scmplayer.net/script.js" 
    data-config="{'skin':'skins/black/skin.css','volume':50,'autoplay':true,'shuffle':false,'repeat':1,'placement':'top','showplaylist':false,'playlist':<%= htmlWebpackPlugin.options.songs %>}" ></script>
  </body>
</html>
